@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Source+Sans+Pro&display=swap');

@font-face {
    font-family: 'PP Formula';
    src: url("./fonts/PPFormula-NarrowRegular.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a, button {
    transition: all 0.3s ease;
}

button:hover {
    background: #ffd600;
}

a:hover {
    color: #ffd600;
}

button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

html, body {
    background: #181819;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    overflow-x: hidden;

}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
    /*padding-bottom: 40px;*/
}

.container {
    max-width: 1330px;
    padding: 0 9px;
    margin: 0 auto;
    height: 100%;
}

.header__row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
    font-size: 16px;
}

header {
    width: 100%;
    height: 80px;
}

main {
    margin-top: 48px;
    flex: 1 1 auto;
}

h1 {
    text-transform: uppercase;
    font-family: 'PP Formula', sans-serif;
    font-size: 88px;
    letter-spacing: -0.05em;
    background: linear-gradient(118.26deg, #FFFFFF 32.52%, rgba(212, 209, 205, 0) 149.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: 110%;
    margin-bottom: 112px;
    max-width: 90%;
}

h1 > span {
    border-left: 2px solid #E46F47;
    background: linear-gradient(87deg, rgba(228, 111, 71, 0.1) 0%, rgba(228, 111, 71, 0) 92%);
    animation: caretAnim 1.3s infinite ease-in-out;
}

h1 > span:before {
    content: '';
    display: inline-block;
}


h1 br:first-child{
    display: none;
}

h3 {
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    letter-spacing: 0.2px;
    text-transform: lowercase;
    color: #9F9E9E;
    margin-bottom: 56px;
}


h3 span {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    animation: flip 4s infinite;
    animation-delay: calc(.3s * var(--i))
}

.contact {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

h2 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #9F9E9E;
}

button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #181819;
    background: white;
    border-radius: 6px;
    padding: 10px 61.5px;
    position: relative;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    width: 100%;
}

.credentials{
    border-top: 1px solid rgba(159, 158, 158, 0.24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
    font-size: 14px;
}

.credentials a{
    color: #ED6A3D;
}

footer h4{
    color: #9F9E9E;
    position: relative;
    z-index: 2;
}

.circle {
    position: absolute;
    width: 409px;
    height: 406px;
    background: linear-gradient(236.71deg, #FFD600 32.73%, #FF4B00 67.46%);
    filter: blur(145.824px);
    animation: circleAnim 5s infinite ease-in-out;
    right: -210px;
    bottom: 120px;
    /*z-index: -2;*/
}

.menu {
    width: 100%;
    display: none;
}

.menu nav ul {
    font-size: 36px;
    text-align: left;
    padding: 30px 10px;
}

.menu nav ul li {
    margin-bottom: 30px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.burger-button {
    display: none;
    padding: 10px 20px;
}

#elem {
    position: relative;
    background: transparent;
}

#elem:after {
    content: '';
    display: inline-block;
    width: 500px;
    height: 24px;
    bottom: 0;
    left: -4px;
    position: absolute;
    background: #181819;
}

@media (max-width: 932px) {
    .burger-button {
        display: block;
    }

    header nav {
        display: none;
    }

    h1 {
        font-size: 75px;
        margin-bottom: 40px;
    }


    h1 br:first-child{
        display: inline;
    }

    h2{
        font-size: 17px;
    }

    .contact {
        padding-bottom: 20px;
    }

    #elem:after {
        height: 12px;
    }

}

@media (max-width: 750px) {

    .contact{
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .credentials{
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }

}


@media (max-width: 500px) {

    .container {
        padding: 0 16px;
    }

    h1 {
        font-size: 46px;
        margin-bottom: 12px;
    }

    h2{
        font-size: 16px;
    }

    h2 br{
        display: none;
    }

    #elem:after {
        height: 11px;
        left: -4px;
    }

    .circle{
        animation: none;
        opacity: .4;
    }

    .contact{
        padding: 8px 0;
    }

    .contact a, .contact button{
        width: 100%;
    }

    .circle{
        bottom: 200px;
    }

    footer{
        margin-top: 25px;
        padding-bottom: 16px;
    }

}

@keyframes caretAnim {
    0% {
        border-color: #E46F47;
    }

    50% {
        border-color: transparent;
    }
}

@keyframes circleAnim {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes flip {
    0%, 80% {
        transform: rotateY(360deg)
    }
}